<a href="https://colab.research.google.com/github/akshaysutar8860/natural_launguage_processing/blob/main/knaikpractical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:
!unzip /content/drive/MyDrive/smsspamcollection.zip

Archive:  /content/drive/MyDrive/smsspamcollection.zip
replace SMSSpamCollection? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [49]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [11]:
data=pd.read_csv('/content/SMSSpamCollection',sep='\t',names=['label','message'])
data.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
corpus=[]

In [15]:
stemer=PorterStemmer()

In [16]:
for i in range(0,len(data)):
  review=re.sub('[^a-zA-Z]',' ',data['message'][i])
  review=review.lower()
  review=review.split()
  review=[stemer.stem(word) for word in review if not word in set(stopwords.words('english'))]
  review=' '.join(review)
  corpus.append(review)

In [23]:
vecto=CountVectorizer(max_features=5000)
X=vecto.fit_transform(corpus).toarray()

In [29]:
y=pd.get_dummies(data['label'])
y=y.copy()

In [30]:
y=y.drop(columns=['spam']).copy()

In [31]:
y.head()

   ham
0    1
1    1
2    0
3    1
4    1

In [33]:
train_X,val_X,train_y,val_y=train_test_split(X,y,train_size=0.80,test_size=0.20,random_state=0)

In [41]:
BI=MultinomialNB()
BI.fit(train_X,train_y)
pred=BI.predict(val_X)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [50]:
cmatrix=confusion_matrix(val_y,pred)
cmatrix

array([[152,   8],
       [  9, 946]])

In [51]:
score=accuracy_score(val_y,pred)#predict the accuracy
score

0.9847533632286996